{% extends "template.html" %}
{% block content %}
	<h2>Welcome to the Flask Blog!</h2>
	<p><a href="{{ url_for('logout') }}">Log out</a></p><br/><br/>
	<form action="{{ url_for('add') }}" method="post" class="add">
		<div>
			<label>Title:</label>
			<input type="text" name="title">
		</div>
		<div>
			<label>Post:</label>
			<textarea name="post" rows="5" cols="40"></textarea>
		</div>
		<div class="">
			<input class="button" type="submit" value="Save">
		</div>
	</form>
	<br>
	<br>
	<div>
		<h2>Posts:</h2>
		{% for post in data %}
		<h3 class="title" data-id="{{ post.id }}"><strong>Title:</strong> {{ post.title }}</h3>
		<p class="message"><strong>Post:</strong> {{ post.post }}</p><br/>
		{% endfor %}			
	</div>
{% endblock%}